#textNumber {
    display: flex;
    flex-direction: column;
    font-size: 1.5px;
    /*transform: rotate(45deg)*/

}

#textLanguage{
    font-size: 20px;
}

li{
    list-style: none;
}

svg{
    margin-top: -600px;
}

#percent{
    margin-bottom: -1145px;
}

#percent p{

    margin: 64px 0 50px 300px;
}
body{
    margin-top: 250px;
    margin-left: 80px;
    background-color: aliceblue;
}

#history li{
    padding-top: 15px;
}