html {
  font-size: 75%;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-stretch: normal;
  color: #334152;
  letter-spacing: 0.4px;
  overflow-y: scroll;
  position: relative;
}

.table {
  margin: 0;
  padding: 0;
  border: 0;
}

.table tbody tr:first-child td {
  border-top: 1px solid #d8dde3;
}

.table tbody tr:nth-child(odd) {
  background-color: #f7f8fa;
}
